[
  { "name": "17 女方高中同學 ", "members": ["莊靖樺", "莊靖樺", "鄭涵彥", "陳彥堯", "梁柏安", "沈珊珊", "張宇舒", "陳二橋", "楊蘭花", "洪臣李"] },
  { "name": "18 公司同事 (女方) A", "members": ["張毓彥", "黃舒鈺", "張輝元", "張輝元", "張至妤", "李品睿", "李品睿", "張入葦", "高山青"] },
  { "name": "19 公司同事 (女方) B", "members": ["李芯儒", "伍芷瑜", "呂芯珒", "陳雅雯", "楊佳怡", "劉靖雯", "簡詩晴", "簡詩晴", "曾倩茹", "李怡安", "梁妍蓁", "莊沛蓉"] },
  { "name": "6 女方親戚 F", "members": ["何欣如", "何聖彥", "何聖伶", "何鈺珠", "何光宇", "何勳浩", "何英微", "何子樂", "何子亮"] },
  { "name": "1 女方親戚 A", "members": ["方堇", "方立泰", "社旻源", "社佳宏", "社慧姿", "社秀容", "社語涵", "社坤耿", "社順興", "社小茹"] },
  { "name": "2 女方親戚 B", "members": ["王又佳", "王炳立", "王清福", "王建志", "王新民", "王宗萍", "王嘉烈", "王高斌"] },
  { "name": "3 女方親戚 C", "members": ["呂順宇", "朱芯璇", "朱芷萱", "朱汝惠", "朱紹玉", "李安主", "李駿林", "李美鈺", "李琇玲"] },
  { "name": "4 女方親戚 D", "members": ["覺主宏", "張簡軒", "黃雅慧", "黃雅慧", "黃雅秘", "黃明南", "黃翠玲", "黃禎信", "黃宏明"] },
  { "name": "5 女方親戚 E", "members": ["黃羽方", "黃雪珍", "黃曉馨", "黃秀菊", "秀菊兒子", "黃祝今", "黃憶珊", "蔡聖珠", "蔡孝勇", "蔡秀禎"] },
  { "name": "1 男方親戚 A", "members": ["陳品宗", "陳品宗", "陳佳林", "陳佳徐", "陳佳徐(小孩)", "徐秀美", "徐秀美", "孫智瑩"] },
  { "name": "2 男方親戚 B", "members": ["陳冠宗", "陳冠宗", "陳冠宗", "陳冠宗", "陳冠宗", "陳冠宗", "陳冠宗", "陳冠宗(小孩)", "陳冠宗(小孩)", "陳冠宗"] },
  { "name": "3 男方親戚 C", "members": ["孫如文", "孫如文", "孫如文", "孫如文", "孫如文", "孫如文(小孩)", "孫如文(小孩)", "孫朝淑", "孫朝淑", "孫朝淑(小孩)"] },
  { "name": "4 男方親戚 D", "members": ["蘇泓名", "蘇泓名", "蘇泓名(小孩)", "蘇泓名", "蘇泓名", "蘇泓名", "蘇泓名"] },
  { "name": "5 男方親戚 E", "members": ["郭珮芝", "郭珮芝", "郭珮芝", "郭珮芝", "郭珮芝", "郭勳浩", "郭勳浩", "郭詩芝"] },
  { "name": "6 男方母友 A", "members": ["楊蕙禎", "詹素梅", "詹素梅", "卓瑞雪", "林雅美", "林雅美", "姜慧如", "蔡宜惠", "蔡宜惠"] },
  { "name": "7 男方母友 B", "members": ["劉麗秀", "劉麗秀", "鍾嘉瑜", "鍾嘉瑜", "鍾嘉瑜", "陳雅涵", "陳雅涵", "吳碧珠"] },
  { "name": "8 男方國中 / 兵友", "members": ["王宥翔", "王宥翔", "魏子軒", "王晉勳", "吳昱慈", "李任安", "李任安", "楊鉦翊"] },
  { "name": "9 男方高中", "members": ["柳芸", "高策", "高策", "黃佑程", "陳俊彥", "宋冠翔", "鍾然", "巫容"] },
  { "name": "10 男方大學 A", "members": ["吳皇毅", "劉祖喬", "莊玉任", "莊玉任", "黃彥丞", "李明彤 ", "陳泓凱", "黃泯敦"] },
  { "name": "11 男方大學 B", "members": ["李李仁", "李李仁", "玉米筍", "玉米筍", "官汏安", "官汏安", "蔡子庭", "劉仁彥"] },
  { "name": "12 公司同事 (男方)", "members": ["黃姿尹", "陳柏淳", "陳子恩", "蔡俊傑", "陳成豪", "鄭作揖", "黃彥甫", "黃彥甫", "黃彥甫", "黃彥甫"] }
]